html {
  font-size: 10px;
}
body {
  margin: 0px;
  padding: 0;
  background-color: lightgoldenrodyellow;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}
.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border:lightgray 2px solid;
  background-color: rgb(151, 125, 129);
  border-radius: 12px;
  padding: 5px;
  margin-right: 5px;
  width: 30%;
  text-align: center;
  
}

.input {
  font-size: 1.6rem;
  padding: 8px 8px;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
  width:80%;
  margin-top: 1rem;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  background-color: white;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}
.not-Found {
  margin-top: 1.5em;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  color: black;
}
.foot {
  font-size: 12px;
  text-align: center;
  text-decoration: linen;
  margin-top: 20px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: lightgrey;
  color:limegreen;
  padding: 7px;
}
